/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.stl
*.svg
/.lein-*
/.nrepl-port
.hgignore
.hg/

resources/isle_of_man.svg

resources/small_hill.svg

s.edn

.eastwood

settlement_1.edn

small_hill.edn

small_hill.html

.calva/output-window/output.calva-repl
